<% provide :title, t(".help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= link_to t(".railshelp"), "http://www.railstutorial.org/help" %>
  <%= t ".or" %>
  <%= link_to t(".railstut"), "http://www.railstutorial.org/book" %>
</p>
